{% extends "base.html" %} {% block title %}Főoldal{% endblock %} {% block content
  %}
  <h1 align="center">Jegyzetek</h1>
  <ul class="list-group list-group-flush" id="notes">
    {% for note in user.notes %}
    <li class="list-group-item" id="note{{ note.id }}">
      {{ note.data }}
      <button type="button" class="close" onClick="deleteNote({{ note.id }})">
        <span aria-hidden="true">&times;</span>
      </button>
      <select id="shareNote">
        <option value="" selected disabled>Válassz címzettet...</option>
        {% for email in user_emails %}
        <option value="{{ email }}">{{ email }}</option>
        {% endfor %}
      </select>
      <button type="button" class="btn btn-secondary" onClick="shareNote({{ note.id }})">Megosztás</button>
    </li>
    {% endfor %}
  </ul>
  <form method="POST">
    <textarea name="note" id="note" class="form-control" placeholder="Írj ide valamit..."></textarea>
    <br />
    <div align="center">
      <button type="submit" class="btn btn-primary">Hozzáadása</button>
    </div>
    <br />
  </form>
  {% endblock %}